entrypoint="index.html"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606", "nodejs-22", "ruby-3.2", "swift-5.6", "hermit-0.38.2"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[[ports]]
localPort = 9005
externalPort = 3001

[[ports]]
localPort = 9006
externalPort = 3002

[[ports]]
localPort = 37381
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 45173
externalPort = 80
exposeLocalhost = true

[auth]
pageEnabled = false
buttonEnabled = true
